urlextract==1.5.0
wordcloud==1.8.1
pandas==1.5.3
collections==3.0.1
emoji==2.2.0
vaderSentiment==3.3.2
reportlab==3.6.12
streamlit==1.18.1
matplotlib==3.7.1
seaborn==0.12.2
plotly==5.14.0
nltk==3.7
